VITE_SUPABASE_URL=https://mpirlkunroglmctmjfts.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1waXJsa3Vucm9nbG1jdG1qZnRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc1NTk0MzAsImV4cCI6MjA2MzEzNTQzMH0.W8Bt--bLZgc7heULNk_T7D2kpQogEvbkg-YI-wk9YFk